* { 
	margin: 0;
	padding: 0;
	font-family: 'Signika', sans-serif;
}
body {
	background-image: url("images/background.jpg");
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    #border: 1px solid #e7e7e7;
    #background-color: #f3f3f3;
}

li a {
    display: inline-block;
    color: yellow;
    text-shadow: 1px 1px #000000;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #727272;
}

li a.active {
    color: white;
    text-align: center;
    display: inline-block;
    #background-color: #4CAF50;
	background-color: rgb(244, 66, 66);
}

.container { 
        text-align: center;
	font-size: 24px;
	margin: 50px;
	padding: 30px; 
	background: rgba(0, 0, 0, .4);
}

.portal { 
        text-align: left;
	font-size: 24px;
	margin: 50px;
	padding: 30px; 
	background: rgba(0, 0, 0, .4);
}

.white {

	color: white;
}

.pink {
	color: rgb(244, 66, 66);
}

.yellow {
	color: rgb(255, 255, 0);
}

.nav{
    border:1px solid #727272;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
    padding:10px;
}


ul li{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
	border-bottom: 1px solid #111111;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ul li:hover label{
	color: #FFFFFF;
}

ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

ul li:hover .check {
  border: 5px solid #FFFFFF;
}

ul li .check::before {
  display: inline-block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 5px solid #0DFF92;
}

input[type=radio]:checked ~ .check::before{
  background: #0DFF92;
}

input[type=radio]:checked ~ label{
  color: #0DFF92;
}

.submit
{
    width: 64px;
    height: 29px;
    font-size: 24px; 
    font-weight: bold;
    font-family: 'Signika', sans-serif;
    background-color: #ffedca;
}


#download-btn {
position: absolute;
    top: 6%;
    left: 42%;
    width: 200px;
    margin: 10px;
    height: 40px;
    text-align: center;
}

div.id_space {
  width: 100px;
}

.q_space {
  width: 150px;
}